<!DOCTYPE html>
<html>
<head><title>Python Front-End</title></head>
<body>
  <h1>Hello from Python front-end (Flask + HTML)</h1>
  <h2>Hello this is second commit</h2>
  <p><a>https://www.google.com</a></p>
  <p><a>https://www.youtube.com</a></p>
  <p><a>https://www.facebook.com</a></p>
  <p><a>https://www.netflix.com</a></p>
  <p><a>https://www.abc.com</a></p>
  <p><a>https://www.dbc.com</a></p>
  <p><a>https://www.hmc.com</a></p>
  <p><a>https://www.non.com</a></p>
  <p><a>https://www.yo.com</a></p>
</body>
</html>
